nav {
    background-color: rgb(103, 152, 180);
    /* light graph bar (bluish) colour */
}

.navbar-brand {
    background-color: white;
    border-radius: 10px;
    border: 2px solid teal;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

.nav-item {
    border-radius: 10px;
}

.nav-item:hover {
    background-color: slategrey;
}

body {
    background-color: rgb(243, 241, 241);
    /* off white colour */
}

.box-styling {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 30px;
}


.viz_box {
    height: max-content;
}

.plot_text {
    margin-top: 20px;
}

#data-page-container {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.preview {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    margin: 20px;
}


.preview:hover {
    box-shadow: 0 0 2px 1px lime;
}


@media (max-width: 767px) {
    body {
        background-color: white;
    }

    table {
        width: 80%;
    }

    .navbar {
        background-color: rgb(211, 206, 206);
    }

    h1, h2, h3 {
        color: rgb(103, 152, 180);
    }

    .preview {
        width: 80px;
    }

    .page-hold {
        margin-left: 0px;
        margin-right: 5px;
    }

    .side-div {
        width: 80px;
        margin: 5px;
    }

    .box-styling {
        height: max-content;
    }

    .col-lg-6 {
        margin-bottom: 0px;
    }

    .col-lg-5 {
        margin-top: 0px;
        padding-top: 0px
    }

    #nav-item1 {
        width: 117px;
    }

    #nav-item2 {
        width: 60px;
    }

    .dropdown-menu {
        width: 500px;
    }

    #drop-menu {
        width: 80px;
    }

}